<div class="head">
  <header class="header" wmAnimate="landing" aos speed="normal">
    <a href="" class="logo">
      <span class="grey-color"> &lt;</span>
      <span class="logo-name" href="#greeting">Deepan</span>
      <span class="grey-color">/&gt;</span>
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
      <span class="navicon"></span>
    </label>
    <ul class="menu">
      <li class="about">
        <a href="/">About</a>
      </li>
      <!-- <li class="skills">
       <nav><a href="/skills">Skills</a></nav> 
      </li> -->
      <li class="education">
        <a href="/education">Education</a>
      </li>
      <li class="projects">
        <a href="#projects">Projects</a>
      </li>
      <li class="experiences">
        <a href="/experience">Experience</a>
      </li>
      <li class="contact">
        <a href="#contact">Contact Me</a>
      </li>
    </ul>
    
  </header>
</div>



