
<div class="greet-main" id="aboutme" >
  <div class="greeting-main"  wmAnimate="fadeInUp" aos speed="normal">
    <div class="greeting-text-div">
      <div>
        <h1 class="greeting-text">
          {{greeting.title}}
          <span class="wave-emoji">👋</span>
        </h1>
        <p class="greeting-text-p subTitle">{{greeting.subTitle}}</p>
            <!-- <app-social-media></app-social-media> -->
        <div class="button-greeting-div">

          <div>
            <a class="main-button" href="#contact">Contact me</a>
          </div>
          <div>
            <a class="main-button" href={{greeting.resumeLink}}>See my resume</a>
          </div>
    
        </div>
      </div>
    </div>
    <div class="greeting-image-div">
      <img src="/assets/images/manOnTable.svg" alt="img">
    </div>
  </div>
</div>

<div class="interest">
  <h1 class="interest-topic" style="text-align: center;font-size: 50px;">Here's what I do</h1>
</div>


<div class="container">
  <div class="personimage">
      <a style="width: 100px; height: 100px;">
          <img src="assets/images/download.png" alt="HTML Logo" style="width: 500px; margin: 10px;padding-left: 90px; padding-bottom: 20px;">
      </a>
  </div>

  <div class="skills">
      <!-- Angular Logo -->
          
        <div>
            <h3 style="text-align: center; font-family: google 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 30px;">Building scalabale Machine Learning models</h3>
              <div><a href="https://angular.io/" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="Angular Logo" style="width: 50px; margin: 10px;">
            </a>
            <!-- Python Logo -->
            <a href="https://www.python.org/" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python Logo" style="width: 50px; margin: 10px;">
            </a>
            <!-- Tailwind CSS Logo -->
            <a href="https://tailwindcss.com/" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg" alt="Tailwind CSS Logo" style="width: 50px; margin: 10px;">
            </a>
            <!-- HTML Logo -->
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                <img src="assets/images/html_logo.png" alt="HTML Logo" style="width: 50px; margin: 10px;">
            </a>
            <!-- MySQL Logo -->
            <a href="https://www.mysql.com/" target="_blank">
                <img src="assets/images/sql.png" alt="MySQL Logo" style="width: 50px; margin: 10px;">
            </a>
            <!-- PostgreSQL Logo -->
            <a href="https://www.postgresql.org/" target="_blank">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1AvjkLBYQuMDdVist8ejmPLl9EG4_HUpDYA&s" alt="PostgreSQL Logo" style="width: 50px; margin: 10px;">
            </a>
            <!-- MongoDB Logo -->
            <a href="https://www.mongodb.com/" target="_blank">
                <img src="assets/images/mongo.png" alt="MongoDB Logo" style="width: 50px; margin: 10px;">
            </a>
            <!-- React Logo -->
            <a href="https://reactjs.org/" target="_blank">
                <img src="assets/images/React-icon.svg" alt="React Logo" style="width: 50px; margin: 10px;">
            </a>
            <!-- NPM Logo -->
            <a href="https://www.npmjs.com/" target="_blank">
                <img src="assets/images/download (1).png" alt="NPM Logo" style="width: 50px; margin: 10px;">
            </a>
            <a href="https://www.npmjs.com/" target="_blank">
              <img src="assets/images/solr.png" alt="NPM Logo" style="width: 50px; margin: 10px;">
          </a>
              <a href="https://www.npmjs.com/" target="_blank">
                <img src="assets/images/tensorflow.jpg" alt="NPM Logo" style="width: 50px; margin: 10px;">
            </a>
            <a href="https://www.npmjs.com/" target="_blank" >
              <img src="assets/images/Sagemaker.png" alt="NPM Logo" style="width: 50px; margin: 10px;">
          </a>
          <a href="https://www.npmjs.com/" target="_blank" >
            <img src="assets/images/fastapi.jpg" alt="NPM Logo" style="width: 50px; margin: 10px;">
        </a>
            </div>
              
              <div style="text-align: left;">
                <p class="subTitle skills-text" style="color: rgb(141, 141, 141);font-size: 20px">
                    ⚡ Building responsive website front end using Ruby On Rails or ReactJS </p>
                <p class="subTitle skills-text" style="color: rgb(141, 141, 141);font-size: 20px">
                    ⚡ Creating a web app for machine learning models with FastAPI </p>
                <p class="subTitle skills-text" style="color: rgb(141, 141, 141);font-size: 20px">
                    ⚡  Integration of third party services such as AWS </p>
                <p class="subTitle skills-text" style="color: rgb(141, 141, 141);font-size: 20px;">
                    ⚡ Developing interactive Front end / User Interfaces for  web applications</p>    
            </div>
        </div>

      
  </div>

  
</div>


<div class="cloud">
  <div class="cloud-skills">
    <!-- Angular Logo -->
        <div>

            
        </div>
        <div class="cloud-container">
          <!-- Cloud Tech Section (left side) -->
          <div class="cloud-tech">
              <h3 style="padding-left: 100px; text-align: left; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 40px;">Cloud Infra-Architecture</h3>
              <div class="clou-logo" style="padding-left: 150px;">
                  <a href="https://azure.microsoft.com/en-us/" target="_blank">
                      <img src="assets/images/azure.jpg" alt="Azure Logo" style="width: 50px; margin: 10px;">
                  </a>
                  <a href="https://aws.amazon.com/" target="_blank">
                      <img src="assets/images/aws.png" alt="AWS Logo" style="width: 50px; margin: 10px;">
                  </a>
                  <a href="https://tailwindcss.com/" target="_blank">
                      <img src="assets/images/gcp.webp" alt="Tailwind CSS Logo" style="width: 50px; margin: 10px;">
                  </a>
                  <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                      <img src="assets/images/jenkins.jpg" alt="HTML Logo" style="width: 50px; margin: 10px;">
                  </a>
              </div>
      
              <div style="text-align: left;padding-left: 40px;">
                  <p class="subTitle skills-text" style="color: rgb(141, 141, 141); font-size: 20px;">⚡ Experience in working on multiple cloud platforms</p>
                  <p class="subTitle skills-text" style="color: rgb(141, 141, 141); font-size: 20px;">⚡ Experience in hosting and managing websites </p>
                  <p class="subTitle skills-text" style="color: rgb(141, 141, 141); font-size: 20px;">⚡ Experience with Continuous Integration and Continuous Deployment </p>
              </div>
          </div>
      
          <!-- Cloud Image Section (right side) -->
          <div class="cloud-image">
              <a style="width: 800px; height: 800px; padding-top: 10%;">
                  <img src="assets/images/cloud.jpg" alt="Cloud Image" style="width: 500px; margin: 10px;padding-left: 90px; padding-bottom: 20px;">
              </a>
          </div>
      </div>
      
    
</div>


</div>
